[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
mlflow = "*"
pandas = "*"
pyarrow = "*"
boto3 = "*"
numpy = "*"
prefect = "==2.0b6"
flask = "*"
gunicorn = "*"
aws = "*"

[dev-packages]

[requires]
python_version = "3.10"
